body {
  background: #FCFCFC;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex;
}

div.fragment { 
	width: 98%;
	border: 1px solid #CCCCCC;
	background-color: #121212;
	color: #F0F0F0;
	padding-left: 4px;
	margin: 4px;
}

div.box { 
	width: 98%;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	color: black;
	padding: 1px;
}

.comment {
	color: #00E571;
}
.string {
	color: #9999FF;
}
.keyword { 
	color: #FF4C4C;
}

.keywordtype { color: #604020; }
.keywordflow { color: #e08000; }
.preprocessor { color: #806020; }
.stringliteral { color: #002080; }
.charliteral { color: #008080; }

a {
	text-decoration: none; 
}

a:visited {
	color:blue;
}

a:hover {
	background-color: #006699;
	color:#FFFFFF;
}

a.code {
	font-weight: normal; 
	color: #1875CC;
}

a.code:hover {
	background-color: #FFFFFF;
	color: #268CDD;
}	

h1 {
	background: white;
	color: #C05708;
	font-size: x-large;
	text-align: left;
}

h2 {
	background: transparent;
	color: #006699;
	font-size: large;
}

h3 {
	background: transparent;
	color: #323232;
	font-size: medium;
}

address {
	font-size:small;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}
input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #eeeeff;
}

li {
    padding-left:5px;
}